.info-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: .5rem;
	padding: 0 .15rem;
	box-sizing: border-box;
	background-color: #fff;
    
    .sub {
    	display: inline-flex;
    	justify-content: center;
    	align-items: center;

    	&.price {
	    	font-size: .2rem;
	    	color: #f40;
	    	font-weight: bold;
	    }

	    &.sales {
	    	font-size: .14rem;

	    	.highlight {
	    		color: #f00;
	    		font-weight: bold;
	    	}
	    }
    }
}